$main-color:#17131c;
$menu-item:#211b28;
$item:#FFFBE9;
$green:#44a787;
$header:#29202F;
$content:#302539; 
$button:#7A4E91;
$text:#8D5DA7;


*{
    font-family: 'Cairo', sans-serif;
}
.font{
    font-weight: bold;
    font-family: "Cairo", sans-serif;
}